In [1]:
import pandas as pd
from tqdm import tqdm
from dotenv import load_dotenv
from sqlalchemy import create_engine

import uuid
from datetime import datetime

from re import I
from numpy import int64

from pathlib import Path
import os

In [2]:
# 環境変数を読み込む
# .env.exampleを参考に.envを作成しよう！
load_dotenv()

engine = os.getenv("DATABASE_URL")

# prismaが勝手に作成するDATABASE_URLには?schemaが語尾につくので、念の為削除
if "?" in engine:
    engine = engine.split("?")[0]

# SQLAlchemyのEngineを作成
engine = create_engine(engine)

print(f"Let's set up Postgres database: {engine}")

# 相対パス用
base = os.getcwd()

# 適宜parentを付ける
# p = Path.cwd()
p = Path.cwd().parent
dir = os.path.join(p, "archive/")

translation_file = os.path.join(dir, "product_category_name_translation.csv")
product_file = os.path.join(dir, "olist_products_dataset.csv")
order_items_file = os.path.join(dir, "olist_order_items_dataset.csv")

print("Roading the file ...")
print(f" - {os.path.relpath(translation_file, base)}")
print(f" - {os.path.relpath(product_file, base)}")
print(f" - {os.path.relpath(order_items_file, base)}")

translation_df = pd.read_csv(translation_file)
product_df = pd.read_csv(product_file)
order_items_df = pd.read_csv(order_items_file)

Let's set up Postgres database: Engine(postgresql://postgres:***@localhost:5432/olist-ecommerce)
Roading the file ...
 - ../archive/product_category_name_translation.csv
 - ../archive/olist_products_dataset.csv
 - ../archive/olist_order_items_dataset.csv

In [3]:
display(translation_df)

            product_category_name product_category_name_english
0                    beleza_saude                 health_beauty
1          informatica_acessorios         computers_accessories
2                      automotivo                          auto
3                 cama_mesa_banho                bed_bath_table
4                moveis_decoracao               furniture_decor
..                            ...                           ...
66                         flores                       flowers
67             artes_e_artesanato         arts_and_craftmanship
68                fraldas_higiene           diapers_and_hygiene
69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70             seguros_e_servicos         security_and_services

[71 rows x 2 columns]

In [4]:
display(product_df)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [5]:
display(order_items_df)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [6]:
# データベース挿入処理
import uuid
from datetime import datetime

print("Start seeding...")

# 1. カテゴリ翻訳データの挿入
print("\n1. Inserting category translations...")
translation_map = {}

# BOM文字を削除（必要に応じて）
translation_df.columns = translation_df.columns.str.replace('\ufeff', '', regex=False)

# 翻訳マップを作成
for _, row in translation_df.iterrows():
    category_name = row['product_category_name']
    category_name_eng = row['product_category_name_english']
    if pd.notna(category_name) and pd.notna(category_name_eng):
        translation_map[category_name] = category_name_eng

# データベース用のデータフレームを作成（Prismaスキーマの@mapに合わせてカラム名を設定）
translation_db_df = translation_df.copy()
translation_db_df = translation_db_df.rename(columns={
    'product_category_name': 'product_category_name',
    'product_category_name_english': 'product_category_name_english'
})
translation_db_df = translation_db_df[['product_category_name', 'product_category_name_english']].dropna()

# データベースに挿入
if len(translation_db_df) > 0:
    translation_db_df.to_sql(
        'product_category_name_translation',
        engine,
        if_exists='append',
        index=False,
        method='multi'
    )
    print(f"Inserted {len(translation_db_df)} translations into database.")

print(f"Loaded {len(translation_map)} translations.")

Start seeding...

1. Inserting category translations...
Inserted 71 translations into database.
Loaded 71 translations.

In [7]:
# 2. 製品データの挿入
print("\n2. Inserting products...")

# 製品データを整形
products_data = []

for _, row in product_df.iterrows():
    if pd.notna(row['product_id']):
        category_name = row['product_category_name'] if pd.notna(row['product_category_name']) else 'uncategorized'
        category_name_eng = translation_map.get(category_name, category_name)
        
        product_dict = {
            'product_id': row['product_id'],  # Prismaスキーマでは@map("product_id")でidフィールドにマッピング
            'product_category_name': category_name_eng,
            'description': f'Product in category {category_name_eng}',
            'product_name_lenght': int(row['product_name_lenght']) if pd.notna(row['product_name_lenght']) else None,
            'product_description_lenght': int(row['product_description_lenght']) if pd.notna(row['product_description_lenght']) else None,
            'product_photos_qty': int(row['product_photos_qty']) if pd.notna(row['product_photos_qty']) else None,
            'product_weight_g': int(row['product_weight_g']) if pd.notna(row['product_weight_g']) else None,
            'product_length_cm': int(row['product_length_cm']) if pd.notna(row['product_length_cm']) else None,
            'product_height_cm': int(row['product_height_cm']) if pd.notna(row['product_height_cm']) else None,
            'product_width_cm': int(row['product_width_cm']) if pd.notna(row['product_width_cm']) else None,
        }
        products_data.append(product_dict)

products_db_df = pd.DataFrame(products_data)
print(f"Parsed {len(products_db_df)} products. Inserting into DB...")

# データベースに挿入
if len(products_db_df) > 0:
    products_db_df.to_sql(
        'products',
        engine,
        if_exists='append',
        index=False,
        method='multi'
    )
    print(f"Inserted {len(products_db_df)} products into database.")

2. Inserting products...
Parsed 32951 products. Inserting into DB...
Inserted 32951 products into database.

In [8]:
# 3. 注文アイテムデータの挿入
print("\n3. Inserting order items...")

# 注文アイテムデータを整形
order_items_data = []

for _, row in order_items_df.iterrows():
    order_item_dict = {
        'id': str(uuid.uuid4()),  # UUIDを生成（PrismaスキーマではidフィールドがUUID）
        'order_id': row['order_id'],
        'order_item_id': str(row['order_item_id']),
        'product_id': row['product_id'],
        'shipping_limit_date': pd.to_datetime(row['shipping_limit_date']),
        'price': float(row['price']),
        'freight_value': float(row['freight_value']),  # Prismaスキーマでは@map("freight_value")でfreightフィールドにマッピング
    }
    order_items_data.append(order_item_dict)

order_items_db_df = pd.DataFrame(order_items_data)
print(f"Parsed {len(order_items_db_df)} order items. Inserting into DB...")

# バッチ処理で挿入（5000件ずつ）
SLICE_SIZE = 5000
total_items = len(order_items_db_df)

for i in tqdm(range(0, total_items, SLICE_SIZE), desc="Inserting order items"):
    slice_df = order_items_db_df.iloc[i:i + SLICE_SIZE]
    slice_df.to_sql(
        'order_items',
        engine,
        if_exists='append',
        index=False,
        method='multi'
    )

print("Seeding finished.")

3. Inserting order items...
Parsed 112650 order items. Inserting into DB...

Inserting order items: 100%|██████████| 23/23 [00:06<00:00,  3.34it/s]

Seeding finished.